@()

@main("Welcome to Play") {
  <div class="text-center mt-3">
    <h3>Welcome to Freelancer Analyser!</h3>
  </div>
  
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="form-group has-search">
        
        <input type="text" class="form-control" placeholder="Enter search terms">
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-primary">
        <span class="fa fa-search form-control-feedback"></span>
        Go
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <label class="fw-bold">Search terms:</label> react native developer
      <p>Flesh Reading Ease Index 70.5. FKGL 6.2</p>
      <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
    <div class="col-4"></div>
    
  </div>
}
