@(statsMap: Map[String, Integer])

<html>
<head>

    <title>Word Stats</title>
</head>
<body>

    <h2> Word stats</h2>
    <table>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>

        @for((key, value) <- statsMap) {
        <tr>
            <td>@key</td>
            <td>@value</td>
        </tr>
        }

    </table>

</body>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</html>



